/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
} */
 /* body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
 } */
nav a {
    color: hsl(14, 86%, 42%);
    text-decoration: none;
    font-size:20px;
}

 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80vh;
 }

 .login-container {
     background: transparent;
     padding: 10px;
     border-radius: 8px;
     /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
     width: 500px;
    display: block;
        margin: 0 auto;
 }

 .login-container h2 {
     text-align: center;
 }

 .form-group {
     margin-bottom: 15px;
 }

 .form-group label {
     display: block;
     font-weight: bold;
 }

 .form-group input {
     width: 100%;
     padding: 5px 2px;
     margin-top: 5px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
 }
 
 .submit-btn {
     width: 100%;
     padding: 20px;
     background: blue;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 .signup-link {
     text-align: center;
     margin-top: 10px;
 }
 
 .orders{
    margin-top: -1rem;
 }
 @media (max-width: 375px) {

     .grid {
         grid-template-columns: 1fr;
     }


     .container {
         margin: 5px;
         padding: 5px;
         width: 100%;
     }

     .login-container {
         background: transparent;
         padding: 10px;
         border-radius: 8px;
         /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
         width: 500px;
     }
 }
 